{% extends 'base.html.twig' %}

{% block title %}Administration des aliments{% endblock %}
{% block monTitre %}
  Page d'administration
{% endblock %}
{% block body %}

{% for message in app.flashes('success') %}
  <div class="alert alert-success">
    {{message}}
  </div>
{% endfor %}
<a href="{{path('admin_aliments_new')}}" class="btn btn-success">Ajouter</a>
<table class="table">
  <tr class="table-primary">
    <td>Image</td>
    <td>Aliment</td>
    <td>Prix</td>
    <td>Calories</td>
    <td>Protéines</td>
    <td>Glucides</td>
    <td>Lipides</td>
    <td>Actions</td>
  </tr>
    {% for aliment in aliments %}
      <tr>
        <td style="width:10%"><img src="{{asset("images/#{aliment.image}")}}" class="img-fluid" alt="{{aliment.nom}}"></td>
        <td><strong>{{aliment.nom}}</strong></td>
        <td>{{aliment.prix}}</td>
        <td>{{aliment.calorie}}</td>
        <td>{{aliment.proteine}}</td>
        <td>{{aliment.glucide}}</td>
        <td>{{aliment.lipide}}</td>
        <td>
          <a class="btn btn-secondary " href="{{path('admin_aliments_edit', {'id': aliment.id})}}">Modifier</a>
          <form action="{{ path('admin_aliments_delete', {'id': aliment.id })}}" method="POST" style="display:inline-block">
              <input type="hidden" name="_method" value="delete">
              <input type="hidden" name="_token" value="{{csrf_token('SUP'~ aliment.id)}}">
              <input type="submit" class="btn btn-danger" value="Supprimer" onsubmit="return confirm(confirmez la suppression ?)">
          </form>
        </td>
      </tr>
    {% endfor %}
</table>

{% endblock %}
